{{ define "views/robot_test.html"}}
<!--Embed the header.html template at this location-->
{{ template "layouts/header.html" .}}
<div class="container">
    <div class="row">
        <!--Embed the leftside_game.html template at this location-->
        {{ template "homepage/leftside_stress.html" .}}

        <div id="list" class="anyClass col-12 col-md-8">
        </div>

        <!--Embed the rightside_game.html template at this location-->
        {{ template "homepage/rightside_stress_info.html" .}}


    </div>
</div>
<!--Embed the param.html template at this location-->
{{ template "layouts/param.html" .}}
<!--Embed the footer.html template at this location-->
{{ template "layouts/footer.html" .}}
{{ end }}